.header{
  background-color: #2e9aa7;
  height: 100px;
  color: #f6d365;
  font-size: larger;
  font-weight: bolder;
}

.allText{
  display: inline-flex;
  margin-top: 35px;
  margin-left: 200px;
}
.header_too{
  margin-left: 300px;
}