.list {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .cards {
    border: 3px solid #f6d365;
    border-radius: 10px;
    min-height: 350px;
    width: 100%;
    background: #2e9aa7;
  }
  
  
  .card__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   color: #f6d365;
  }
  .card__logo {
    max-width: 30px;
  }
  
  .card__sort {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
  
  .card__list {
    margin-top: 10px;
  }
  .admin__title{
    color: #f6d365;
  }

