@import './card.scss';
@import './footer.scss';
@import './header.scss';
@import './table.scss';

$bluecollor: #2e9aa7;
$yellowcollor: #f6d365;

.list {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main {
    border: 3px solid $yellowcollor;
    border-radius: 10px;
    min-height: 350px;
    width: 100%;
    background: $bluecollor;
  }
  .admin__title{
    color: $yellowcollor
  }
  .main__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    color: $yellowcollor
  }
  .main__list {
    margin-top: 10px;
  }